
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
allure-results/
allure-report/

# Playwright
playwright-report/
test-results/

# Node
node_modules/

# Authentication state
auth/auth.json